<!doctype html>
<html ng-app>
<head>
<title>Hello AngularJS</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<script src="todo_list.js"></script>
</head>

<body>
	<div ng-controller="TodoList">
	
	Todo ID:<br>
    <input type="text" ng-model="id"><br>

		<button ng-click="load_todo()">load_todo</button>

		<p>ID: {{list.id}}</p>
		<p>Description: {{list.description}}</p>
		<p>Status: {{list.status}}</p>
	</div>
</body>
</html>